

@for (item of items; track $index) {
    @if (item.status == false) {
        <div class="note-item">
            <div class="note-content">
                <h3 class="note-title">{{item.titulo}}</h3>
                <p class="note-text">{{item.descripcion}}</p>
                <p></p>
            </div>
            <div class="note-actions">
                <button class="btn restore">♻ Recuperar</button>
                <button class="btn delete">🗑 Eliminar</button>
            </div>
        </div>
    }

}
