<div class="d-flex justify-content-center p-5">
    <div [formGroup]="formUser" class="form-box">
        <form class="form">
            <span class="title">Register</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                <input formControlName="userName" [class.opacidad]='formUser.get("userName")?.hasError("minlength") && formUser.get("userName")?.touched' type="text" class="input" placeholder="Full Name">

                @if (formUser.get("userName")?.hasError("minlength") && formUser.get("userName")?.touched) {
                    <div class="text-danger">
                        Requiere minimo 3 letras
                    </div>
                }
                @if (formUser.get("userName")?.hasError("required") && formUser.get("userName")?.touched) {
                    <div class="text-danger">
                        Campo requerido
                    </div>
                }
                <input formControlName="email" type="email" class="input" placeholder="Email">
                <input formControlName="password" type="password" class="input" placeholder="Password">
            </div>
            <button [class.x]="formUser.invalid" [disabled]="formUser.invalid" (click)="registrarse()" >Sign up</button>
        </form>
        <div class="form-section">
            <p>Have an account? <a routerLink="/login">Log in</a> </p>
        </div>
    </div>
</div>

